//- Created by serg on 29.04.17.

-
    var obj = [
        {
            a: 'https://vk.com/sergg57',
            icon: 'vk',
            viewBox:"5 0 36.011 32.123"
        },
        {
            a: 'https://github.com/sergg57/build3',
            icon: 'github',
            viewBox:"0 0 34 32"
        },
        {
            a: 'https://github.com/sergg57/build3',
            icon: 'in',
            viewBox:"0 4 34 32.94"
        }
    ]
ul.socials
    each item in obj
        //-- console.log(item)
        li.socials__item
            a(href=`${item['a']}` class=`socials__link`)
                svg(class=`socials__link_${item['icon']}` viewBox=`${item['viewBox']} `)
                    use(xlink:href=`./assets/img/sprite/sprite.svg#${item['icon']}`)



                //--each item in {'vk', 'github', 'in']
                    li.socials__item
                        a(href='' class=`socials_link `)
                            svg(class=`socials__link_${item}` viewBox="-5 -5 40.01 27.12")
                                use(xlink:href=`./assets/img/sprite.svg#${item}`)

                    //-li.socials__item
                        a(href='' class=`socials_link`
                            svg (class=`socials__link_${item}` viewBox="-5 -5 40.01 27.12"))

                //-svg(class="icon" viewBox="-5 -5 40.01 27.12")
                       use(xlink:href="./assets/img/sprite.svg#vk")
                //-svg(class="icon" viewBox="-5 -5 36 32")
                    use(xlink:href="./assets/img/sprite/sprite.svg#github")
                //-svg(class="icon" viewBox="-5 -5 34 32.94")
                    use(xlink:href="./assets/img/sprite/sprite.svg#in")




